In [13]:
if 10>5:
    print("Ten is greater than five!")
    """
    This comment is multi-line
    """                 
# this is a single line comment

Ten is greater than five!

In [11]:
def sum (a,b):
    result=a+b
    return result
sum(5,3)

8

In [27]:
age=30 
temperature=30.4
name="matteo"

In [32]:
type(age)
"L'output memorizza solo l'ultima variabile assegnata come type"

int

In [33]:
type(temperature)

float

In [36]:
type(name)

str

In [34]:
type(10>5)

bool

In [35]:
type(True)

bool

In [38]:
if (10>5)==1:
    print("ten is greater than 5")

ten is greater than 5

In [39]:
str(age)
"""
This command is to change the datatype but not all conversion are possible
For example from both int and float to a string variable, from int to float is possible and viceversa
WHY? Because it accepts either integer or numbers with decimal points and the other cancels the decimal points present in the number

"""

'30'

In [42]:
first_name="john"
FirstName="matt"
"Assign the variable in these ways"

In [43]:
f=3.14
int(f)

3

In [44]:
g=100
float(g)

100.0

In [45]:
maxdistance=90
temperature=25.6
greet_ing="cheers"
is_raining=True

In [46]:
float(str(99.9))
"""
Cambia la struttura di 99.9 da variabile character a variabile float
"""

99.9

In [52]:
2**10
"funzione esponenziale"

1024

In [21]:
a=10
b=5

In [61]:
n=a+b
n

15

In [62]:
n==a+b

True

In [64]:
a+=5
a
"alla variabile precedentemente assegnata 10 ci aggiunge 5 perchè c'è + e poi l'uguale ="

20

In [65]:
3==3.0
"True"

True

In [66]:
"hello"=="Hello"
"Falso perchè Phyton è case sensitive, hello lower letter is different from Hello capital letter"

False

In [67]:
31.2!=31

True

In [68]:
76>21

True

In [7]:
x=input("Enter value for x")
y=input("Enter value for y")
print("The sum is " + (x + y))

Enter value for x 4
Enter value for y 2

The sum is 42

In [8]:
x=input("Enter value for x")
y=input("Enter value for y")
print("The sum is " + str(int(x) + int(y)))

Enter value for x 100
Enter value for y 50

The sum is 150

In [9]:
x=int(input("Enter value for x"))
y=int(input("Enter value for y"))
z=str(x+y)
print("The sum is " + z)

Enter value for x 100
Enter value for y 50

The sum is 150

In [12]:
x=int(input("Enter value for x"))
y=int(input("Enter value for y"))
z=str(int(x)+int(y))
print("The sum is " + z)
"+ concateni metti insieme nella stessa riga più cose"

Enter value for x 3
Enter value for y 4

The sum is 7

In [28]:
print("is a*b == 50 ", a*b==50,sep="\n")

is a*b == 50
True

In [29]:
print('''My wife said "NO!"
while my daughter said "YES"
''')

My wife said "NO!"
while my daughter said "YES"

In [35]:
s="Today we have a strike in Milan"
s[3:10] # just the chars from 3 to 10 of the string
s[:10] # the first 10 chars of the string
s[10:] # the string starting from the 10th char
s[:-10] # the whole string except the last 10 chars
s[-10:] # the last 10 chars of the string

'e in Milan'

In [38]:
print(f"the sum of {a} and {b} is {a+b}")

the sum of 10 and 5 is 15